.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  background: #f6ff00;
}

/* Header styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: white;
}

.logo {
  margin-left: 30px;
  font-size: 1.5rem;
  color: #00619e;
}

.links {
  margin-right: 30px;
}

.links a {
  color: #00619e;
  text-decoration: none;
  padding-right: 20px;
  font-size: 1.2rem;
}

.links a:hover {
  font-size: 1.3rem;
}

/* Login/Logout/Register styles */

.form-wrap, .meals-list {
  width: 100%;
  margin: 0 5% 0 0;
  height: 100%;
  background: #f6ff00;
  border-top: 1px solid #00619e;
  
}

.form-wrap h2 {
  margin-top: 30px;
  color: #00619e;
  font-size: 1.8rem;
}

.logout button {
  margin-top: 20px;
  background: #00619e;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: 500px;
}

.register {
  margin-top: 40px;
  color: #00619e;
  font-size: 1.6rem;
}

.register button {
  background: #3fff0a;
  color: #00619e;
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
  font-size: 1.1rem;
  margin-bottom: 500px;
}

/* Form styles */

.input-form {
display: flex;
flex-direction: column;
align-items: center;
}

.input-form input {
  width: 40%;
  margin-top: 45px;
  padding: 10px 10px;
  background: #00619e;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

.input-form button {
  padding: 8px 30px;
  margin-top: 50px;
  font-size: 1.2rem;
  background: #3fff0a;
  color: #00619e;
  border: none;
  border-radius: 5px;
  margin-bottom: 500px;
}

.input-form button:hover {
  background:#00619e;
  color: #3fff0a;
}

.input-form input::placeholder {
color: white;
font-size: 1.2rem;
}

/* Meals list styles */

.meal-section {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  flex-wrap: wrap;
}

.meals-list a {
  text-decoration: none;
  font-size: 2rem;
  color: #00619e;
}

.meals-list a:hover {
  font-size: 2.2rem;
}

.meals-list h1 {
  font-size: 2.3rem;
  letter-spacing: 0.3rem;
}

.search-form {
  margin-bottom: 20px;
}

.search-form .search-input {
  border: 1px solid #00619e;
  border-radius: 3px;
  padding: 2px 5px;
}

/* Meal styles */

.meal {
  width: 30%;
  background:whitesmoke;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  padding-bottom: 0;
}

.meal h2 {
  margin-bottom: 0;
}

.meal p {
  margin-bottom: 0;
  margin-top: 5px;
}

.meal button {
  margin: 10px 0;
  background: #3fff0a;
  color: #00619e;
  padding: 4px 8px;
  border: 1px solid #00619e;
  border-radius: 5px;
}

.meal img {
  margin-top: 5px;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal .sub-title a {
  font-size: 1rem;
}